<div class="container">
    <h1>Maak een nieuwe sandwich aan</h1>
    <form (ngSubmit)="save()" #newsandwich="ngForm"> 
      <div class="form-group">
        <label for="name">Naam</label>
        <input type="text" class="form-control" id="name" required
        [(ngModel)]="sandwich.name" name="name"
        #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
        Naam is nodig
        </div>
      </div>
 
      <div class="form-group">
        <label for="ingredients">Ingrediënten</label>
        <input type="text" class="form-control" id="ingredients" required
        [(ngModel)]="sandwich.ingredients" name="ingredients"
        #ingredients="ngModel">
        <div [hidden]="ingredients.valid || ingredients.pristine"
        class="alert alert-danger">
        Ingrediënten zijn nodig
        </div>
      </div>

      <div class="form-group">
          <label for="price">Prijs</label>
          <input type="number" class="form-control" id="price" required
          [(ngModel)]="sandwich.price" name="price"
          #price= "ngModel">
          <div [hidden]="price.valid || price.pristine"
          class="alert alert-danger">
          Prijs is nodig
          </div>
      </div>

      <button class="btn btn-success" href="/sandwiches">Go back</button>
      <button type="submit" class="btn btn-success" [disabled]="!newsandwich.form.valid">Submit</button>
 
    </form>
</div>