<div class="row">
  <h2 class="header">Orders</h2>
  <div class="col s6" *ngFor="let order of orders">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h5>Sandwich: {{ order.sandwich.name }}</h5>
          <p>Breadtype: {{ order.breadType }}</p>
          <p>Prijs: {{ order.sandwich.price }} €</p>
          <p>Mobile phone: {{ order.mobilePhone }}</p>
          <p>Date order: //need to find fix {{ order.date }}</p>
        </div>
        <div class="card-action">
          
        </div>
      </div>
    </div>
  </div>
</div>