<div id="headerComp">
    <h2>Orders</h2>
</div>
<div class="row">
    <div class="col s6" *ngFor="let order of orders">
        <div class="card" style="width: 500px;">
          <div class="card-body">
            <h5 class="card-title">Order naam: {{ order.name }}</h5>
            <div class="card-text">
                <p>Breadtype: {{ order.breadType }}</p>
                <p>Prijs: {{ order.price }} €</p>
                <p>Mobile phone: {{ order.mobilePhoneNumber }}</p>
                <p>Date order: {{ order.creationDate }}</p>
            </div>
            <div>

            </div>
          </div>
        </div>
    </div>
    
  </div>